@use "node_modules/nk_jtb/scss/base/vars_colors" as *; // with ( $primary: #6233cd,);
@use "node_modules/nk_jtb/scss/base/vars_base" as *; // with ($base-font-size: 0.875rem);
// @use "node_modules/nk_jtb/scss/base/vars_components" as *; // with ($navbar-bg: $primary,);
@use "node_modules/nk_jtb/scss/mixins/media" as *;
@use "node_modules/nk_jtb/scss/jtb";

$header-bg: #074464 !default;

$main-bg: transparent !default;

$footer-bg: #1D1D1C !default;
$footer-text-color: rgb(204, 204, 204) !default;

$copyright-bg: darken($footer-bg, 2%) !default;
$copyright-text-color: $footer-text-color !default;


// $img-path: "../../public/images";

// make the first column in the table body code font
question {
    + * {
        margin-top: 2rem;
        font-weight: 400;
        font-style: italic;
        color: rgb(50, 114, 231);
        code {
            font-size: 1.2rem;
        }
    }
}

answer + p {
    margin-top: 0.5rem;
}

$background: #0b101d;

// $text: #f0f2f9;
// $background: #0b101d;
// $primary-button: #5593b9;
// $secondary-button: #f4f8fa;
// $accent: #213d4f;
