@use './vars.scss' as *;
@use './choices.scss' as *;
@use './tmp.scss' as *;

@use '../../node_modules/nk_jtb/src/build' as *;
@use '../../node_modules/nk_jtb/src/extras/nk-docs' as * with(
    $question-color: #c40c9a
);
@use "../../node_modules/nk_jtb/src/extras/nk-app" as *;


// ------------------------------------------------------------------
// -- MARKDOWN OVERRIDES --
// ------------------------------------------------------------------
code {
    color: #ffda47;
}

pre.mermaid {
    background-color: rgb(255, 247, 247);
    border-radius: 0.25rem;
}
// // this is special style for MAD cheat sheet.
// .special-code + ul li code {
//     font-family: Consolas;
//     font-size: 1rem;
//     &:not(.hljs) {
//         background-color: rgba(240, 240, 240, 0.1);
//         border: none;
//         padding: 0 3px;
//     }
// }
// .special-code + ul li {
//     list-style: none;
//     margin-left: -1rem;
//     padding: 0;
//     line-height: 1;
// }

// .special-code + ul {
//     font-size: 0.8rem;
// }

// this is special style for MAD cheat sheet.
// .special-code + p code {
//     font-family: Consolas;
//     font-size: .75rem;
//     &:not(.hljs) {
//         background-color: rgba(240, 240, 240, 0.1);
//         padding: 0 3px;
//     }
// }
// .special-code + ul li {
//     line-height: 1.1;
//     list-style: none;
//     margin-left: -1rem;
//     padding: 0;
// }

// ------------------------------------------------------------------
// -- BASE OVERRIDES --
// ------------------------------------------------------------------
// make bold text stand out because white is hard to see
strong {
    color: rgb(156, 193, 124);
}

.navbar:not(.markdown .navbar) {
    // background-color: $body-bg;
    border-bottom: 1px solid #14213f;
    box-shadow: 1px 5px 20px #142c56;
    box-shadow: 1px 1px 70px #142c56;
}

// // front page link boxes
// .icon-grid {
//     grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
// }

// body {
//     background-image: linear-gradient(to right bottom, #0b101d, #0d1220, #0e1424, #0f1627, #10182b, #111b32, #131e38, #14213f, #14274b, #142c56, #123263, #0e386f);
// }

// // home screen nav buttons
// .nav-buttons nav ul {
//     display: flex;
//     gap: 1rem;
//     flex-wrap: wrap;
// }

// ------------------------------------------------------------------
// -- SPECIAL BACKGROUNDS --
// ------------------------------------------------------------------

// .diagonal {
//     position: relative;
//     // make sure the pseudo element is isolated (contained) in this class
//     isolation: isolate;

//     &::after {
//         content: '';
//         position: absolute;
//         background-image: linear-gradient(135deg, #10182b, #111b32, #131e38, #14213f, #14274b, #142c56, #123263, #0e386f, #1b4276);
//         // background-image: linear-gradient(135deg, #111b32, #131e38, #14213f, #14274b, #142c56, #123263, #0e386f);

//         inset: 0;
//         z-index: -1;
//         transform: skewY(-3deg);
//     }
// }

// ------------------------------------------------------------------
// -- ANIMATIONS --
// ------------------------------------------------------------------

@keyframes pulse {
    50% {
        opacity: 0.1;
    }
}
.animate-pulse-slow {
    animation: pulse 3s ease-in-out infinite;
}
