code {
    color: hsl(49, 78%, 86%);
}

.markdown {
    .compare + pre,
    .compare + pre + pre {
        float: left;
        width: 49%;
    }

    .compare + pre {
        margin-right: 1%;
    }
    .compare + pre + pre {
        margin-left: 1%;
    }

    .clear {
        clear: both;
    }

    hr {
        border-color: #3d5ea5;
    }

    .spaced-out + ul li {
        margin-top: 0.5rem !important;
    }

    .spaced-out-all ~ ul li {
        margin-top: 0.5rem !important;
    }
}

pre.mermaid {
    background: #fff;
    padding: 1rem;
}

question {
    color: #2299dd;
    margin-top: 2rem;
    font-size: 1.15rem;
    font-weight: 700;
    font-style: italic;
    // display: block;
}

answer {
    margin-top: 0.5rem;
    display: block;
    + ul {
        margin-top: 0.5rem;
        margin-left: 1.5rem;
    }
}

// this is good when making a list when you want to use the toc for an overview
.small-headings {
    ~ h3 {
        font-size: 1.25rem;
    }
}
// this is good when making a list when you want to use the toc for an overview
// .small-headings ~ :is(h2, h3) {
//     font-size: 1.25rem;
// }
